:root {
  --poppins-font-fam: "Poppins", sans-serif;
  --playfair-font-fam: "Playfair Display", serif;
  --primary-purple: #6c63ff;
  --secondary-black: #272142;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  color: black;
  font-family: var(--playfair-font-fam);
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: var(--poppins-font-fam);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.hero p {
  font-family: var(--poppins-font-fam);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-black);
  line-height: 1.5;
}
.container h2 {
  font-family: var(--playfair-font-fam);
  font-size: 64px;
}
.container p {
  font-family: var(--poppins-font-fam);
  font-size: 16px;
}
.btn-branding {
  background: var(--primary-purple);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-outline-branding {
  border: 1px solid var(--primary-purple);
  border-radius: 4px;
  color: var(--primary-purple);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
